# Compiled Java files
*.class

# Runtime data files
src/data/users.txt
src/data/suppliers.txt
src/data/purchases.txt
src/data/audit_log.txt
src/data/customers.txt
src/data/sales.txt
src/data/inventoryservice.txt
src/data/payrollservicedata.txt
src/data/daily_report.txt
src/data/monthly_report.txt 
src/data/*.txt
src/data/employees.txt


# Dat files
*.dat

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.dbs